# Traefik - Reverse proxy and load balancer
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=$HOSTNAME

# RFC2136 DNS challenge (for Let's Encrypt wildcard certs)
RFC2136_TSIG_KEY=changeme_tsig_key
RFC2136_NAMESERVER=127.0.0.1
RFC2136_TSIG_SECRET=changeme_tsig_secret
RFC2136_TSIG_ALGORITHM=hmac-sha256.
